<h2>Thank you for registering!</h2>
<p>You have successfully registered for the event. A confirmation email has been sent to your inbox.</p>

<a asp-action="Index" class="btn btn-primary">Back to Event List</a>
